@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.page {
    position: relative;
    height: 300vh;
}

.content {
    background-image: url('../assets/Background.gif');
    transform: scale(1.2);
}


@import './header';
@import './contact';